@inject NavigationManager? NavigationManager
@inject IDialogService? DialogService

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <MudAlert NoIcon Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center" Class="mt-5">
                        <span style="text-align: center">
                            <MudText Typo="Typo.h6">✋ You are not allowed to access this page. ✋</MudText>
                            <MudText Typo="Typo.h6">
                                Please <button @onclick="Login"><b><u>login</u></b></button> or
                                <button @onclick="Register"><b><u>register</u></b></button> for a new account.
                            </MudText>
                        </span>
                    </MudAlert>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <MudAlert NoIcon Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center" Class="mt-5">
                    <MudText Typo="Typo.h6">⛔ This address does not exist. ⛔</MudText>
                </MudAlert>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {

    private readonly DialogOptions _dialogOptions = new()
    {
        CloseOnEscapeKey = true,
        DisableBackdropClick = true,
        CloseButton = false,
        NoHeader = true
    };

    private void Login() => DialogService.Show<Login>(string.Empty, ReturnUrl(), _dialogOptions);

    private void Register() => DialogService.Show<Register>(string.Empty, ReturnUrl(), _dialogOptions);

    private DialogParameters? ReturnUrl()
        => new() { ["ReturnUrl"] = NavigationManager.ToBaseRelativePath(NavigationManager.Uri) };
}